.cerrar-header{
    text-align: center;
    background-color: #282A3A;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
.cerrar-header-pre {
    text-align: center;
    background-color: #282A3A;
    color: white;
    height: 70px;
}


.mozos-container{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mozo-cube{
    margin: 10px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: #282A3A;
    cursor: pointer;
}

.facturas-mozos-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.facturas-mozos-container table{
    width: 100%;
    height: 10px;
}

.facturas-mozos-container th{
    width: 200px;
}

.facturas-mozos-container td{
    width: 200px;
    text-align: center;
}

.td{
    cursor: pointer;
}

.td-selected{
    background-color: red;
    cursor: pointer;
}